html {
  font-size: 10px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  max-height: 100dvh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.landing-page,
.login-page,
register-page {
  background: url("../assets/wavy-background.jpeg") no-repeat center center
    fixed;
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

#storybook-root {
  height: 100%;
  padding: 0 !important;
}
